.artigo-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

.artigo-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #b3b3b3;
}
.card-header {
  flex: 6;
  background-color: #6e0646;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.assunto {
  z-index: 10;
  position: absolute;
  top: 85%;
  left: 1%;
  background-color: #fff;
  color: black;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}
.card-img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-img {
  object-fit: cover;
}
.card-body {
  flex: 1;
}

.card-footer {
  flex: 1;
}

.card-body {
  padding: 0px 10px;
}

.card-footer {
  padding: 0px 10px;
}

.titulo-artigo-card {
  font-size: 20px;
  font-weight: bold;
}

.subtitulo-artigo-card {
  font-size: 14px;
  color: rgb(100, 116, 139);
  font-weight: 400;
}

.footer-date {
  display: flex;
}

.footer-date span {
  font-size: 12px;
  color: rgb(100, 116, 139);
  font-weight: 400;
}

.footer-date svg {
  margin-right: 5px;
  color: rgb(100, 116, 139);
}
